.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #ffbb00, #d4a011);
}

.login__card {
  padding: 50px 30px;
  border: 1.2px solid #e09438;
  border-radius: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__cardHeader {
  margin-bottom: 35px;
}

.login__button {
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.login__button:hover {
  opacity: 0.9;
}

.google {
  background-color: #4885ed;
  margin-bottom: 20px;
}

.facebook {
  background-color: #4267B2;
}

.anticon {
  font-size: 20px;
}


